
POCD_MT000040.xsd
pom.xml
README.md
src/ccdparser/
src/main/java/com/tekntime/ccd/CCDParserApplication.java
src/main/java/com/tekntime/ccd/controller/BasicController.java
src/main/java/com/tekntime/ccd/model/CCD.java
src/main/java/com/tekntime/ccd/model/hl7/v2/CCDPart.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Act.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Address.java
src/main/java/com/tekntime/ccd/model/hl7/v3/AssignedAuthor.java
src/main/java/com/tekntime/ccd/model/hl7/v3/AssignedCustodian.java
src/main/java/com/tekntime/ccd/model/hl7/v3/AssignedEntity.java
src/main/java/com/tekntime/ccd/model/hl7/v3/AssignedPerson.java
src/main/java/com/tekntime/ccd/model/hl7/v3/AssociateEntity.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Authenticator.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Author.java
src/main/java/com/tekntime/ccd/model/hl7/v3/AuthoringDevice.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Authorization.java
src/main/java/com/tekntime/ccd/model/hl7/v3/BirthPlace.java
src/main/java/com/tekntime/ccd/model/hl7/v3/BirthTime.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Center.java
src/main/java/com/tekntime/ccd/model/hl7/v3/ClinicalDocument.java
src/main/java/com/tekntime/ccd/model/hl7/v3/CodeDetails.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Component1.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Component2.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Component3.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Component4.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Component5.java
src/main/java/com/tekntime/ccd/model/hl7/v3/ConfidentialityCode.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Consent.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Consumable.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Criterion.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Custodian.java
src/main/java/com/tekntime/ccd/model/hl7/v3/CustodianOrganization.java
src/main/java/com/tekntime/ccd/model/hl7/v3/DataEnterer.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Device.java
src/main/java/com/tekntime/ccd/model/hl7/v3/DocumentationOf.java
src/main/java/com/tekntime/ccd/model/hl7/v3/EffectiveTime.java
src/main/java/com/tekntime/ccd/model/hl7/v3/EncompassingEncounter.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Encounter.java
src/main/java/com/tekntime/ccd/model/hl7/v3/EncounterParticipant.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Entity.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Entry.java
src/main/java/com/tekntime/ccd/model/hl7/v3/EntryRelationship.java
src/main/java/com/tekntime/ccd/model/hl7/v3/ExternalAct.java
src/main/java/com/tekntime/ccd/model/hl7/v3/ExternalDocument.java
src/main/java/com/tekntime/ccd/model/hl7/v3/ExternalObservation.java
src/main/java/com/tekntime/ccd/model/hl7/v3/ExternalProcedure.java
src/main/java/com/tekntime/ccd/model/hl7/v3/FunctionCode.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Guardian.java
src/main/java/com/tekntime/ccd/model/hl7/v3/HealthCareFacility.java
src/main/java/com/tekntime/ccd/model/hl7/v3/ID.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Informant12.java
src/main/java/com/tekntime/ccd/model/hl7/v3/InformationRecipient.java
src/main/java/com/tekntime/ccd/model/hl7/v3/InFulfillmentOf.java
src/main/java/com/tekntime/ccd/model/hl7/v3/IntendedRecipient.java
src/main/java/com/tekntime/ccd/model/hl7/v3/LabeledDrug.java
src/main/java/com/tekntime/ccd/model/hl7/v3/LanguageCommunication.java
src/main/java/com/tekntime/ccd/model/hl7/v3/LegalAuthenticator.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Listicle.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Location.java
src/main/java/com/tekntime/ccd/model/hl7/v3/MaintainedEntity.java
src/main/java/com/tekntime/ccd/model/hl7/v3/ManufacturedMaterial.java
src/main/java/com/tekntime/ccd/model/hl7/v3/ManufacturedProduct.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Material.java
src/main/java/com/tekntime/ccd/model/hl7/v3/MaxDoseQuantity.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Measurement.java
src/main/java/com/tekntime/ccd/model/hl7/v3/MethodCode.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Name.java
src/main/java/com/tekntime/ccd/model/hl7/v3/NonXMLBody.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Observation.java
src/main/java/com/tekntime/ccd/model/hl7/v3/ObservationMedia.java
src/main/java/com/tekntime/ccd/model/hl7/v3/ObservationRange.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Order.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Organization.java
src/main/java/com/tekntime/ccd/model/hl7/v3/OrganizationPartOf.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Organizer.java
src/main/java/com/tekntime/ccd/model/hl7/v3/OriginalText.java
src/main/java/com/tekntime/ccd/model/hl7/v3/ParentDocument.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Participant1.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Participant2.java
src/main/java/com/tekntime/ccd/model/hl7/v3/ParticipantRole.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Patient.java
src/main/java/com/tekntime/ccd/model/hl7/v3/PatientRole.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Performer1.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Performer2.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Period.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Person.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Place.java
src/main/java/com/tekntime/ccd/model/hl7/v3/PlayingDevice.java
src/main/java/com/tekntime/ccd/model/hl7/v3/PlayingEntity.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Precondition.java
src/main/java/com/tekntime/ccd/model/hl7/v3/PreferenceInd.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Procedure.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Product.java
src/main/java/com/tekntime/ccd/model/hl7/v3/ProviderOrganization.java
src/main/java/com/tekntime/ccd/model/hl7/v3/QualifierContentPair.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Quantity.java
src/main/java/com/tekntime/ccd/model/hl7/v3/RealmCode.java
src/main/java/com/tekntime/ccd/model/hl7/v3/ReceivedOrganization.java
src/main/java/com/tekntime/ccd/model/hl7/v3/RecordTarget.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Reference.java
src/main/java/com/tekntime/ccd/model/hl7/v3/ReferenceRange.java
src/main/java/com/tekntime/ccd/model/hl7/v3/RegionOfInterest.java
src/main/java/com/tekntime/ccd/model/hl7/v3/RelatedDocument.java
src/main/java/com/tekntime/ccd/model/hl7/v3/RelatedEntity.java
src/main/java/com/tekntime/ccd/model/hl7/v3/RelatedSubject.java
src/main/java/com/tekntime/ccd/model/hl7/v3/RepresentedCustodianOrganization.java
src/main/java/com/tekntime/ccd/model/hl7/v3/RepresentedOrganization.java
src/main/java/com/tekntime/ccd/model/hl7/v3/ResponsibleParty.java
src/main/java/com/tekntime/ccd/model/hl7/v3/ScopingEntity.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Section.java
src/main/java/com/tekntime/ccd/model/hl7/v3/SeperatableInd.java
src/main/java/com/tekntime/ccd/model/hl7/v3/ServiceEvent.java
src/main/java/com/tekntime/ccd/model/hl7/v3/SetId.java
src/main/java/com/tekntime/ccd/model/hl7/v3/SignatureCode.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Specimen.java
src/main/java/com/tekntime/ccd/model/hl7/v3/SpecimenPlayingEntity.java
src/main/java/com/tekntime/ccd/model/hl7/v3/SpecimenRole.java
src/main/java/com/tekntime/ccd/model/hl7/v3/StatusCode.java
src/main/java/com/tekntime/ccd/model/hl7/v3/StructuredBody.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Subject.java
src/main/java/com/tekntime/ccd/model/hl7/v3/SubjectPerson.java
src/main/java/com/tekntime/ccd/model/hl7/v3/SubstanceAdministration.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Supply.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Telecom.java
src/main/java/com/tekntime/ccd/model/hl7/v3/TemplateId.java
src/main/java/com/tekntime/ccd/model/hl7/v3/Time.java
src/main/java/com/tekntime/ccd/model/hl7/v3/type/CodedData.java
src/main/java/com/tekntime/ccd/model/hl7/v3/type/CodedOrdinal.java
src/main/java/com/tekntime/ccd/model/hl7/v3/type/CodedQualifier.java
src/main/java/com/tekntime/ccd/model/hl7/v3/type/CodedValue.java
src/main/java/com/tekntime/ccd/model/hl7/v3/type/Content.java
src/main/java/com/tekntime/ccd/model/hl7/v3/type/Item.java
src/main/java/com/tekntime/ccd/model/hl7/v3/type/LinkHtml.java
src/main/java/com/tekntime/ccd/model/hl7/v3/type/Name.java
src/main/java/com/tekntime/ccd/model/hl7/v3/type/Paragraph.java
src/main/java/com/tekntime/ccd/model/hl7/v3/type/Table.java
src/main/java/com/tekntime/ccd/model/hl7/v3/type/Tbody.java
src/main/java/com/tekntime/ccd/model/hl7/v3/type/Td.java
src/main/java/com/tekntime/ccd/model/hl7/v3/type/Text.java
src/main/java/com/tekntime/ccd/model/hl7/v3/type/Th.java
src/main/java/com/tekntime/ccd/model/hl7/v3/type/Thead.java
src/main/java/com/tekntime/ccd/model/hl7/v3/type/Theme.java
src/main/java/com/tekntime/ccd/model/hl7/v3/type/Tr.java
src/main/java/com/tekntime/ccd/model/hl7/v3/TypeId.java
src/main/java/com/tekntime/ccd/model/hl7/v3/VersionNumber.java
src/main/java/com/tekntime/ccd/scheduler/CCDParserTasks.java
src/main/java/com/tekntime/ccd/service/CCDParserService.java
src/main/java/com/tekntime/ccd/service/CCDtoHL7ConverterService.java
src/main/java/com/tekntime/ccd/util/HL7Util.java
src/main/java/com/tekntime/ccd/util/JsonUtil.java
src/main/java/com/tekntime/ccd/util/ORUUtil.java
src/main/java/com/tekntime/ccd/util/PIDUtil.java
src/main/resources/ccd/BloodTestCCD.xml
src/main/resources/ccd/Care_Plan.xml
src/main/resources/ccd/CCD.sample.xml
src/main/resources/ccd/CCDA_CCD_b1_InPatient_v2.xml
src/main/resources/ccd/CCDA_CCD_b1_InPatient_v2.xml.short
src/main/resources/ccd/Consultation_Note.xml
src/main/resources/ccd/Consults.sample.xml
src/main/resources/ccd/Diagnostic_Imaging_Report.xml
src/main/resources/ccd/Discharge_Summary.xml
src/main/resources/ccd/History_and_Physical.xml
src/main/resources/ccd/OpNote.sample.xml
src/main/resources/ccd/Progress_Note.sample.xml
src/main/resources/ccd/table.json
src/main/resources/coreschemas/datatypes-base.xsd
src/main/resources/coreschemas/datatypes.xsd
src/main/resources/coreschemas/infrastructureRoot.xsd
src/main/resources/coreschemas/NarrativeBlock.xsd
src/main/resources/coreschemas/voc.xsd
src/main/resources/HL7V2_Sample/example_hl7.pdf
src/main/resources/schemas/CDA.xsd
src/main/resources/schemas/POCD_MT000040.xsd
